
body{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
header .navbar-brand img {
    width: 40px;
}
section{
   max-width: 70%;
   margin: 0 auto;
}
main input{
    text-align: center;
}

#fecha{
    font-size: 35px;
    display: none;
}

.bg-morado1 { background-image: linear-gradient(to left,#ff88b3, #8e56f3);
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {color:white;}

.bg-morado1 { background-image: linear-gradient(to left,#ff88b3, #8e56f3);}

.bg-morado2 { background-image: linear-gradient(to left, #8e56f3, #ff88b3);}

.bg-sale {background-image: linear-gradient(#81ffe2, #d9a6ff);}