body{
    width: 100%;
    background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}

main section{
    width: 100%;
    
}
.container {
    width: 100%;
    height: auto;
}
.main-container-quienes{
    width: 100%;
    height: 250px;
}
.main-container-quienes div p{
color: #4158D0;
}

.section-contaier-img{
    width: 100%;
    height: 90%;
}




.container-img{
    margin-top: 50px;
    width: 100%;
   height: 100%;
   margin-bottom: 160px;
}
.container-img img {
    width: 13em;
    height: 13em;
}

header .navbar-brand img {
    width: 40px;
}

#fecha{
    font-size: 35px;
    display: none;
}

footer{
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
    height: 200px;
    
    
}
footer a {
    color: white;
    
}

